html{
    font-family: Arial, Helvetica, sans-serif;
}
#p1 {
    text-align: center;
    text-shadow:  gold 0pt 0pt 6pt;
    font-size: 20pt;
}
/* Included a hidden link on the webpage. lol */
a {
    text-decoration: none;
    color: black;
}